:root {
  --recording-red: rgba(255, 74, 119, 1);
  --background-gray: rgba(60, 64, 67, 1);
  --white: rgba(255, 255, 255, 1);

  // Timer Wheel
  --time-wheel-background: rgba(32, 33, 36, 1);
  --time-wheel-inner-circle: rgba(60, 64, 67, 1);
}
